{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KUT KUT BLOG</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body class="subpage">

        <!-- Header -->
        <header id="header">
            <div class="logo"><a href="/">KUT KUT <span>BLOG</span></a></div>
            <a href="#menu">Menu</a>
        </header>
        <!-- Nav -->
			 <nav id="menu"><ul class="links"><li><a href="{% url 'post_list' %}">Home</a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url 'post_new' %}">New Post</a></li>
					{% endif %} 
				</ul>
			</nav>
        <!-- One -->
        <section id="One" class="wrapper style3">
            <div class="inner">
                <header class="align-center">
                    <p>KUT KUT BLOG</p>
                    <h2>New posts</h2>
                </header>
            </div>
        </section>
        <!-- Two -->
        <section id="two" class="wrapper style2">
            <div class="inner">
                <div class="box">
                    <div class="content">
                        {% block content %}
                        {% endblock %}
                    </div>
				</div>
			</div>
		</section>
        <!-- Scripts -->
			<script src="static/js/jquery.min.js"></script><script src="static/js/jquery.scrollex.min.js"></script><script src="static/js/skel.min.js"></script><script src="static/js/util.js"></script><script src="static/js/main.js"></script></body></html>
        <footer id="footer">
            
        </footer>
        <div class="copyright">
            Made with <a href="https://templated.co/">Templated</a>.
        </div>
    </body>

</html>